<a href="https://colab.research.google.com/github/KodumuruRaja/Feature-Selection/blob/main/Feature-Selection-(Removal%20of%20(Constant%2C%20Quasi-Constant%2CDuplicate%20and%20Correlated)%20features%2C%20LDA%2C%20PCA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import VarianceThreshold
from sklearn.metrics import accuracy_score,roc_auc_score
from sklearn.preprocessing import StandardScaler

In [ ]:
data=pd.read_csv("/content/train.csv",nrows=20000)
data.head()

   ID  var3  var15  ...  saldo_medio_var44_ult3          var38  TARGET
0   1     2     23  ...                     0.0   39205.170000       0
1   3     2     34  ...                     0.0   49278.030000       0
2   4     2     23  ...                     0.0   67333.770000       0
3   8     2     37  ...                     0.0   64007.970000       0
4  10     2     39  ...                     0.0  117310.979016       0

[5 rows x 371 columns]

In [ ]:
x=data.drop('TARGET',axis=1)
y=data['TARGET']

In [ ]:
x.shape,y.shape

((20000, 370), (20000,))

In [ ]:
x.dropna()

          ID  var3  ...  saldo_medio_var44_ult3          var38
0          1     2  ...                     0.0   39205.170000
1          3     2  ...                     0.0   49278.030000
2          4     2  ...                     0.0   67333.770000
3          8     2  ...                     0.0   64007.970000
4         10     2  ...                     0.0  117310.979016
...      ...   ...  ...                     ...            ...
19995  40055     2  ...                     0.0  117310.979016
19996  40058     2  ...                     0.0   86339.040000
19997  40059     2  ...                     0.0   74521.200000
19998  40065     2  ...                     0.0  138092.430000
19999  40066     2  ...                     0.0   70378.980000

[20000 rows x 370 columns]

In [ ]:
y.dropna()

0        0
1        0
2        0
3        0
4        0
        ..
19995    0
19996    0
19997    0
19998    0
19999    0
Name: TARGET, Length: 20000, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0,stratify=y)

# **Remove Constant, Quasi Constant and Duplicate Features**

In [ ]:
#Remove constant and Quasi constant features
cf=VarianceThreshold(threshold=0.01)
cf.fit(x_train)
x_train_f=cf.transform(x_train)
x_test_f=cf.transform(x_test)

In [ ]:
x_train_f.shape,x_test_f.shape

((16000, 245), (4000, 245))

In [ ]:
# remove duplicate features
x_train_T=x_train_f.T
x_test_T=x_test_f.T

In [ ]:
x_train_T=pd.DataFrame(x_train_T)
x_test_T=pd.DataFrame(x_test_T)

In [ ]:
x_train_T.duplicated().sum()

18

In [ ]:
df=x_train_T.duplicated()

In [ ]:
ftk=[not index for index in df]
x_train_unique=x_train_T[ftk].T
x_test_unique=x_test_T[ftk].T

In [ ]:
scaler=StandardScaler().fit(x_train_unique)
x_train_unique=scaler.transform(x_train_unique)
x_test_unique=scaler.transform(x_test_unique)

In [ ]:
x_train_unique=pd.DataFrame(x_train_unique)
x_test_unique=pd.DataFrame(x_test_unique)

In [ ]:
x_train_unique.shape,x_test_unique.shape

((16000, 227), (4000, 227))

# **Removal of Correlated Features**

In [ ]:
corrmat=x_train_unique.corr()

In [ ]:
corrmat.shape

(227, 227)

In [ ]:
#find correlated features
def getcorr(data,threshold):
  corr_col=set()
  corrmat=data.corr()
  for i in range(len(corrmat.columns)):
    for j in range(i):
      if abs(corrmat.iloc[i,j])>threshold:
        colname=corrmat.columns[i]
        corr_col.add(colname)
  return corr_col

In [ ]:
corr_features=getcorr(x_train_unique,0.70)
print("correlated features:",len(set(corr_features)))

correlated features: 148

In [ ]:
x_train_uncorr=x_train_unique.drop(labels=corr_features,axis=1)
x_test_uncorr=x_test_unique.drop(labels=corr_features,axis=1)

In [ ]:
x_train_uncorr.shape,x_test_uncorr.shape

((16000, 79), (4000, 79))

# **Feature Dimension Reduction by LDA or is it a Classifier**

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [ ]:
lda=LDA(n_components=1)
x_train_lda=lda.fit_transform(x_train_uncorr,y_train)

In [ ]:
x_train_lda.shape

(16000, 1)

In [ ]:
x_test_lda=lda.transform(x_test_uncorr)

In [ ]:
def run(x_train,x_test,y_train,y_test):
  clf=RandomForestClassifier(n_estimators=100,random_state=0,n_jobs=-1)
  clf.fit(x_train,y_train)
  y_pred=clf.predict(x_test)
  print("Accuracy on test set:")
  print(accuracy_score(y_test,y_pred))

In [ ]:
%%time
run(x_train_lda,x_test_lda,y_train,y_test)

Accuracy on test set:
0.93025
CPU times: user 3.35 s, sys: 32.2 ms, total: 3.38 s
Wall time: 1.85 s

In [ ]:
%%time
run(x_train,x_test,y_train,y_test)

Accuracy on test set:
0.9585
CPU times: user 6.09 s, sys: 58.7 ms, total: 6.15 s
Wall time: 3.32 s

# **Feature Reduction by PCA**

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca=PCA(n_components=3,random_state=42)
pca.fit(x_test_uncorr)

PCA(copy=True, iterated_power='auto', n_components=3, random_state=42,
    svd_solver='auto', tol=0.0, whiten=False)

In [ ]:
x_train_pca=pca.transform(x_train_uncorr)
x_test_pca=pca.transform(x_test_uncorr)
x_train_pca.shape,x_train_uncorr.shape

((16000, 3), (16000, 79))

In [ ]:
%%time
run(x_train_pca,x_test_pca,y_train,y_test)

Accuracy on test set:
0.95725
CPU times: user 3.17 s, sys: 39.5 ms, total: 3.21 s
Wall time: 1.76 s

In [ ]:
for component in range(1,79):
  pca=PCA(n_components=component,random_state=42)
  pca.fit(x_test_uncorr)
  x_train_pca=pca.transform(x_train_uncorr)
  x_test_pca=pca.transform(x_test_uncorr)
  print("Selected Comp:",component)
  run(x_train_pca,x_test_pca,y_train,y_test)
  print()

Selected Comp: 1
Accuracy on test set:
0.931

Selected Comp: 2
Accuracy on test set:
0.9565

Selected Comp: 3
Accuracy on test set:
0.95725

Selected Comp: 4
Accuracy on test set:
0.956

Selected Comp: 5
Accuracy on test set:
0.955

Selected Comp: 6
Accuracy on test set:
0.95575

Selected Comp: 7
Accuracy on test set:
0.9565

Selected Comp: 8
Accuracy on test set:
0.956

Selected Comp: 9
Accuracy on test set:
0.957

Selected Comp: 10
Accuracy on test set:
0.956

Selected Comp: 11
Accuracy on test set:
0.956

Selected Comp: 12
Accuracy on test set:
0.9555

Selected Comp: 13
Accuracy on test set:
0.95625

Selected Comp: 14
Accuracy on test set:
0.956

Selected Comp: 15
Accuracy on test set:
0.95525

Selected Comp: 16
Accuracy on test set:
0.95575

Selected Comp: 17
Accuracy on test set:
0.9555

Selected Comp: 18
Accuracy on test set:
0.95475

Selected Comp: 19
Accuracy on test set:
0.9565

Selected Comp: 20
Accuracy on test set:
0.95625

Selected Comp: 21
Accuracy on test set:
0.95575

Selected Comp: 22
Accuracy on test set:
0.9555

Selected Comp: 23
Accuracy on test set:
0.95575

Selected Comp: 24
Accuracy on test set:
0.95525

Selected Comp: 25
Accuracy on test set:
0.95525

Selected Comp: 26
Accuracy on test set:
0.95525

Selected Comp: 27
Accuracy on test set:
0.955

Selected Comp: 28
Accuracy on test set:
0.95575

Selected Comp: 29
Accuracy on test set:
0.95575

Selected Comp: 30
Accuracy on test set:
0.956

Selected Comp: 31
Accuracy on test set:
0.956

Selected Comp: 32
Accuracy on test set:
0.9565

Selected Comp: 33
Accuracy on test set:
0.956

Selected Comp: 34
Accuracy on test set:
0.9565

Selected Comp: 35
Accuracy on test set:
0.956

Selected Comp: 36
Accuracy on test set:
0.956

Selected Comp: 37
Accuracy on test set:
0.956

Selected Comp: 38
Accuracy on test set:
0.956

Selected Comp: 39
Accuracy on test set:
0.956

Selected Comp: 40
Accuracy on test set:
0.956

Selected Comp: 41
Accuracy on test set:
0.95575

Selected Comp: 42
Accuracy on test set:
0.95575

Selected Comp: 43
Accuracy on test set:
0.95625

Selected Comp: 44
Accuracy on test set:
0.9555

Selected Comp: 45
Accuracy on test set:
0.95575

Selected Comp: 46
Accuracy on test set:
0.95525

Selected Comp: 47
Accuracy on test set:
0.955

Selected Comp: 48
Accuracy on test set:
0.956

Selected Comp: 49
Accuracy on test set:
0.9555

Selected Comp: 50
Accuracy on test set:
0.95625

Selected Comp: 51
Accuracy on test set:
0.95675

Selected Comp: 52
Accuracy on test set:
0.95575

Selected Comp: 53
Accuracy on test set:
0.9555

Selected Comp: 54
Accuracy on test set:
0.9555

Selected Comp: 55
Accuracy on test set:
0.955

Selected Comp: 56
Accuracy on test set:
0.956

Selected Comp: 57
Accuracy on test set:
0.9555

Selected Comp: 58
Accuracy on test set:
0.95575

Selected Comp: 59
Accuracy on test set:
0.95525

Selected Comp: 60
Accuracy on test set:
0.95575

Selected Comp: 61
Accuracy on test set:
0.9555

Selected Comp: 62
Accuracy on test set:
0.956

Selected Comp: 63
Accuracy on test set:
0.957

Selected Comp: 64
Accuracy on test set:
0.95525

Selected Comp: 65
Accuracy on test set:
0.95475

Selected Comp: 66
Accuracy on test set:
0.95525

Selected Comp: 67
Accuracy on test set:
0.9555

Selected Comp: 68
Accuracy on test set:
0.956

Selected Comp: 69
Accuracy on test set:
0.9555

Selected Comp: 70
Accuracy on test set:
0.956

Selected Comp: 71
Accuracy on test set:
0.95525

Selected Comp: 72
Accuracy on test set:
0.9555

Selected Comp: 73
Accuracy on test set:
0.95575

Selected Comp: 74
Accuracy on test set:
0.95625

Selected Comp: 75
Accuracy on test set:
0.95575

Selected Comp: 76
Accuracy on test set:
0.955

Selected Comp: 77
Accuracy on test set:
0.955

Selected Comp: 78
Accuracy on test set:
0.9555